<div class="ui secondary pointing menu">
  <%= link_to rooms_path, class: "#{public_rooms_class current_type} item" do %>
    <%= t('rooms.public_rooms') %>
  <% end %>
  <%= link_to rooms_path(type: :owner), class: "#{my_rooms_class current_type} item" do %>
    <%= t('rooms.my_rooms') %>
  <% end %>
  <%= link_to rooms_path(type: :access), class: "#{shared_rooms_class current_type} item" do %>
    <%= t('rooms.shared_with_me') %>
  <% end %>
  <div class="item right floated">
      <%= link_to t('rooms.new_room'), new_room_path, class: "ui green button" %>
  </div>
</div>

<% if @rooms.empty? %>
<div class="ui segment">
  <div class="header"><%= t('rooms.no_rooms') %></div>
</div><br/>
<% end %>
<div class="ui three cards">
  <% @rooms.each do |room| %>
  <div class="ui card">
    <canvas class="image" width="200" height="200" data-jdenticon-hash="<%= room.identicon_hash %>">
      Fallback text for browsers not supporting canvas
    </canvas>
    <div class="content">
      <%= link_to room, class: "header" do %>
        <%= room.name %>
      <% end %>
      <div class="ui right corner label">
        <% if room.public %>
          <i class="large disabled unhide icon popup" data-content="<%= t('rooms.public_room') %>"></i>
        <% else %>
          <i class="large disabled hide icon popup" data-content="<%= t('rooms.private_room') %>"></i>
        <% end %>
      </div>
    </div>
    <div class="extra content">
      <% if policy(room).update? %>
        <div class="ui two buttons">
          <%= link_to [:edit, room], class: "ui basic blue button" do %>
              Edit
          <% end %>
          <%= link_to room, method: :delete, class: "ui basic red button" do %>
              Delete
          <% end %>
        </div>
      <% else %>
        <div class="right floated author">
          <img class="ui avatar image" src="<%= room.owners.first.gravatar_url %>"> <%= room.owners.first.username %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
