<h2 class="ui dividing header"><%= room.name %></h2>

<% if policy(room).update? %>
<div class="ui blue top right attached label">
  <div class="ui top right pointing click dropdown">
    <i class="share icon"></i> <%= t('rooms.share') %>
    <div class="menu">
      <%= link_to t('sharing.new_sharing_code'), new_room_sharing_code_path(room.id), remote: true, class: 'item' %>
      <%= link_to t('sharing.manage_sharing'), room_sharing_codes_path(room.id), remote: true, class: 'item' %>
    </div>
  </div>
</div>
<% end %>

<div class="ui two column grid">
  <div class="column">
    <%= react_component('MediaPlayerComponent', firebaseUrl: firebase_url, roomId: room.sync_id,
                        token: @token, canUpdate: policy(room).update?,
                        clientId: soundcloud_client_id) %>
  </div>
  <div class="column">
    <%= react_component('ChatComponent', firebaseUrl: firebase_url, chatId: room.chat_id,
                        token: @token, clientId: soundcloud_client_id,
                        userId: current_or_guest_user.id,
                        username: current_or_guest_user.username,
                        avatar: current_or_guest_user.gravatar_url) %>
  </div>
</div>

<br />

<%= react_component('PresenceComponent', firebaseUrl: firebase_url, roomId: room.sync_id,
                    token: @token, userId: current_or_guest_user.id,
                    username: current_or_guest_user.username,
                    avatar: current_or_guest_user.gravatar_url) %>

<div id="modal"></div>
