<div class="ui top fixed orange main menu">
  <div class="left menu">
    <%= link_to root_path, class: "item #{link_active "welcome"}" do %>
      <i class="music icon"></i> <%= t('layouts.title') %>
    <% end %>
    <%= link_to rooms_path, class: "item #{link_active "rooms"}" do %>
      <i class="cubes icon"></i> <%= t('layouts.rooms') %>
    <% end %>
  </div>
  <div class="right menu">
    <%= link_to help_path, class: "item #{link_active "help"}" do %>
      <i class="help icon"></i>
    <% end %>
    <%= link_to t('layouts.sign_in'), new_user_session_path, class: "item" %>
  </div>
</div>
